:root {
    --collection-1-color-brand-first-tertiary: rgba(233, 196, 106, 1);
    --collection-1-color-brand-primary: rgba(231, 111, 81, 1);
    --collection-1-color-brand-second-tertiary: rgba(42, 157, 143, 1);
    --collection-1-color-brand-secondary: rgba(244, 162, 97, 1);
    --collection-1-color-brand-third-tertiary: rgba(38, 70, 83, 1);
    --collection-1-color-greyscale-0: rgba(245, 245, 245, 1);
    --collection-1-color-greyscale-1000: rgba(30, 30, 30, 1);
    --collection-1-color-greyscale-120: rgba(219, 219, 219, 1);
    --collection-1-color-greyscale-160: rgba(211, 211, 211, 1);
    --collection-1-color-greyscale-200: rgba(202, 202, 202, 1);
    --collection-1-color-greyscale-300: rgba(181, 181, 181, 1);
    --collection-1-color-greyscale-40: rgba(236, 236, 236, 1);
    --collection-1-color-greyscale-400: rgba(159, 159, 159, 1);
    --collection-1-color-greyscale-500: rgba(137, 137, 137, 1);
    --collection-1-color-greyscale-600: rgba(116, 116, 116, 1);
    --collection-1-color-greyscale-700: rgba(95, 95, 95, 1);
    --collection-1-color-greyscale-80: rgba(228, 228, 228, 1);
    --collection-1-color-greyscale-800: rgba(73, 73, 73, 1);
    --collection-1-color-greyscale-840: rgba(64, 64, 64, 1);
    --collection-1-color-greyscale-880: rgba(56, 56, 56, 1);
    --collection-1-color-greyscale-920: rgba(47, 47, 47, 1);
    --collection-1-color-greyscale-960: rgba(39, 39, 39, 1);
  }
  
  /* Classes */

    .poppins-semi-bold-burnt-sienna-14px {
        color: var(--burnt-sienna);
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-xs);
        font-weight: 600;
        font-style: normal;
    }
    
    .poppins-medium-sonic-silver-24px {
        color: var(--sonic-silver);
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-1);
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semi-bold-sonic-silver-18px {
        color: var(--sonic-silver);
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-m);
        font-weight: 600;
    }
    
    /* font-style: normal; */
    
    .poppins-normal-sonic-silver-18px {
        color: var(--sonic-silver);
        font-family: var(--font-family-poppins);
        font-size: var (--font-size-m);
        font-weight: 400;
    }

    .poppins-bold-white-36px {
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-x1);
        font-weight: 700;
        font-style: normal;
    }
        
    .poppins-medium-sonic-silver-14px {
        color: var(--sonic-silver);
        font-family: var (--font-family-poppins);
        font-size: var (--font-size-xs);
        font-weight: 500;
        font-style: normal;
    }
        
    .poppins-medium-eerie-black-14px {
        color: var(--eerie-black);
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-xs);
        font-weight: 500;
        font-style: normal;
    }
        
    .poppins-semi-bold-burnt-sienna-24px {
        color: var(--burnt-sienna);
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-1);
        font-weight: 600;
        font-style: normal;
    }